/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-Jun-2016, 8:34:40 AM
    Author     : 1691618
*/
.main_wrapper{
    float: left;
    width:100%;
    background: #f5f5f5;s
}
.header{
    float: left;
    width:90%;
    padding: 10px;
}
.menu{
    float: left;
}

