/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-Jun-2016, 8:34:40 AM
    Author     : 1691618
*/
body,html{
    margin: 0px;
}
.main_wrapper{
    float: left;
    width:100%;
    background: #f5f5f5;
}
.header{
    float: left;
    width:98.5%;
    padding: 10px;
    border-bottom: solid 1px #e5e5e5;
}
.header img{
    float: left;
}
.header .title{
    float: left;
    font-family: 'Roboto', sans-serif;
    margin-top: 1%;
    margin-left: 2%;
    font-size: 25px;
}
.menu{
    float: right;
    margin-top: 1%;
}
.menu span{
    font-style: bold;
    //background: #f39c12;
    color:#666;
    font-family: 'Roboto', sans-serif;
    padding: 7px;
    padding-left: 15px;
    padding-right: 10px;
    transition: background 2s;
}
.menu span:hover{
    background:#d35400;
    cursor: pointer;
    color:#fff;
}

/* center content begins */

.center_content{
    float: left;
    width:100%;
    background: #f5f5f5;
}
.slide{
    width: 100%;
    float: left;
}
.bx-wrapper{
    height: 450px;
}
.contents{
    float: left;
    width: 90%;
    padding: 5%;
}
.contents p{
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-weight: 300;
}
.contents h1{
    font-family: 'Roboto', sans-serif;
    color: #000;
}
.contents{
    background: #f5f5f5;
}
.contents .im{
    float: left;
    padding: 3%;
}
.bggreen{
    background: #2ecc71;
}
.bggreen .h1{
    color:#fff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.contents .button